<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_OjLYrlJFgX8nuQHL2kmNdlONQrh0pMs</string>
	<key>GCM_SENDER_ID</key>
	<string>216903959216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unicode.quicktask.pro.dev</string>
	<key>PROJECT_ID</key>
	<string>quick-task-pro---dev</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-task-pro---dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216903959216:ios:d1c9607a94d47565f1b175</string>
</dict>
</plist>