<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLr1FS0uJ8D8NgYfzH7oLlghYFxh_XLIw</string>
	<key>GCM_SENDER_ID</key>
	<string>797924684288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unicode.quicktask.quickTask</string>
	<key>PROJECT_ID</key>
	<string>quick-task-pro-4e48d</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-task-pro-4e48d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797924684288:ios:6e4f3656c349b643795ee5</string>
</dict>
</plist>